.current {
    font-weight: 900;
    background-color: rgba(0,0,0,.7);
}

span {
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

span:hover {
    background-color: rgba(0,0,0,.4);
}