/*----- Specify -----*/
* {
    box-sizing: border-box;
    transition: all .1s ease;
}

body {
    font-size: 16px;
}

img {
    max-width: 100%;
    object-fit: cover;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

textarea {
    border: none;
    outline: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}

ul, li {
    list-style-type: none;
    display: block;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/*Custom Style*/
.ghost-btn {
    background-color: #e5ebf1;
    color: #55677d;
    padding: 7px 3px;
    border-radius: 3px;
    width: 120px;
}

.ghost-btn:hover {
    background-color: #dfe6ed;
}

.main-btn {
    background-color: #5b88bd;
    border-radius: 5px;
    color: #fff;
    padding: 7px 15px;
}

.main-btn:hover {
    background-color: #4d82bd;
}

.main-btn:active {
    background-color: #4374bd;
    position: relative;
    top: -3px;
}

.main-btn:disabled {
    background-color: #ccc;
}

.main-btn:disabled:hover {
    background-color: #ccc;
}

.main-btn:disabled:active {
    top: 0px;
}

.App {
    display: flex;
    flex-wrap: wrap;
}

.content {
    background-color: darkseagreen;
    padding: 25px;
    color: #fff;
    width: 85%;
}

.default-card {
    background-color: #fff;
    color: #000;
    padding: 25px;
    border-radius: 5px;
    width: 70%;
    box-shadow: 0 0 15px rgba(0,0,0,.1);
}
