.section {
    width: 450px;
    background-color: #fff;
    margin-bottom: 25px;
    color: #000;
    border-radius: 5px;
    padding-bottom: 5px;

}
.info {
    padding-left: 25px;
    margin-bottom: 25px;
}